<section id="contact" class="contact">
  <h2 class="section-title"><span>04.</span> Contacto</h2>

  <div class="contact-container">
    <div class="contact-content">
      <div class="contact-text">
        <p>
          Si deseas colaborar, proponer un proyecto o simplemente saludar, no dudes en
          <span class="highlight">ponerte en contacto</span> conmigo.
        </p>
        <p>
          Puedes escribirme por correo o conectarte conmigo a través de
          <span class="highlight">LinkedIn</span>.
        </p>
      </div>

      <div class="contact-links">
        <a href="info@mudev.es" class="contact-button" target="_blank">
          <i class="fa-solid fa-envelope"></i> Email
        </a>

        <a href="https://www.linkedin.com/in/guillermoDev-/" class="contact-button" target="_blank">
          <i class="fa-brands fa-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </div>
</section>
