 .experience {
  padding: 100px 20px;
  background: #0a192f;
  color: #ccd6f6;
  font-family: monospace;

  .section-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #ccd6f6;
    padding-bottom: 30px;

    span {
      color: #64ffda;
      margin-right: 0.5rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #233554;
      margin-left: 1rem;
    }
  }

  .experience-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  

.experience-card {
  position: relative;
  background: #112240;
  border-radius: 16px;
  padding: 2rem;
  color: #ccd6f6;
  transition: transform 1.3s ease;
  border: 1px solid #233554;
  z-index: 1;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%),rgba(100, 255, 218, 0.25) 0%, transparent 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}




  
}
